header {
}
header.selected {
}
header.selected .navbar {
}

.wrapper-heading .arrow-down {
  bottom: 30px;
}
.text-yellow {
  color: #ffd500;
}
.swiper-button-prev,
.swiper-button-next {
  margin-top: -56px !important;
}

.sa_btn a {
  font-size: 14px;
}

footer .logo {
  margin-left: 20px;
}

@media screen and (min-width: 500px) {
  footer .logo {
    margin-left: 0;
  }
}

@media screen and (min-width: 776px) {
  .sa_btn a {
    font-size: 1.25rem;
  }
}
