$red: #e8002e;
$primary: #ef8100;
$light-green: #01983d;
$pink: #e6007f;
$secondary: #009fe3;
$violet: #322a7f;

$gray: #545454;
$gray-light: #ececec;
$gray-dark: #080707;
$black: #000000;
$light: #f2f2f2;
$white: #ffffff;
$bg-lightOp: #f2f2f2e0;

$yellow: #e2231a;
$orange: #e2231a;
$bordo: #e2231a;
$red1: #f82d2d;
$red-glitch: #ee2d28;
$light-gray: #cccccc;
$dark: #040404;
$lightprimary: #ffdf00;
$greenwhat: #42a506;
$blueface: #475993;
